* { margin: 0; padding: 0; box-sizing: border-box; }
h1{
	color:blue;
	
}
body { font: 1.8em Times New Roman, Times;
background : black; }

footer { margin: 5; padding: 5; background: yellow; position: fixed; bottom: 0; width: 100%;}